.top_bg_container {
    position: relative;
    text-align: center;
}

.top_bg {
    max-width: 100%;
}

.logo {
    width: 20vw;
    height: 2.5vw;
    position: absolute;
    top: 2%;
    left: 2%;
}

.page_links_container {
    position: absolute;
    top: 2%;
    right: 2%;
}

.page_links {
    text-decoration: none;
    color: rgba(255,255,255,1);
    font-family: Trebuchet MS;
    font-weight: bold;
    font-size: 1.5vw;
    border-right: 2px solid white;
    padding-right: 1vw;
    padding-left: 1vw;
}

.title_text_frame {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 35vw;
    width: 50vw;
    transform: translate(-50%, -50%);
    border: 1.2vw solid white;
    background-color: rgba(0,0,0,0.5);
}

.sub_title_text_frame {
    width: 35vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title_text {
    color: rgba(255,255,255,1);
    font-size: 4vw;
    font-weight: bold;
}

.title_discription_text {
    color: rgba(255,255,255,1);
    font-size: 1.2vw;
    margin-top: 3vw;
    margin-top: 2vw;
}

.chart_heading {
    text-align: center;
    color: rgb(76,81,109);
    font-size: 3.5vw;
    font-weight: bold;
}

.external_contents * {
    position: relative;
    display: inline-block;
    text-align: center;
}

.calender_news > * {
    display: block;
    position: absolute;
    width: 40vw;
    height: 40vw;
}

.calender {
    position: absolute;
    width: 40vw;
    height: 20vw;
    top: 0vw;
    border: 0px;
}

.home_news {
    position: absolute;
    width: 40vw;
    height: 20vw;
    top: 21vw;
    border: 0px;
}

.candle_chart {
    position: absolute;
    width: 57vw;
    height: 42vw;
    left: 41vw;
    border: 0px;
}

.broad_market_analysis_container {
    display: flex;
    justify-content: center;
}

.news_news_gp {
    display: flex;
    justify-content: center;
}

.news_news {
    width: 32vw;
    height: 20vw;
    border: 0px;
}

.index_analysis_container {
    display: flex;
    justify-content: center;
}

.treemap_form_block {
    position: absolute;
    top: 85%;
    left: 50%;
    width: 100vw;
    transform: translate(-50%, -50%);
}

.form_title {
    color: rgba(255,255,255,1);
    text-align: center;
    margin: 0.5vw;
}

.form_label {
    font-size: 1.5vw;
    font-weight: bold;
}

.treemap_form_signle_block {
    display: inline-block;
    margin-right: 1vw;
    margin-left: 1vw;
}

.treemap_dropdown_box {
    background-color: #F5F5F5;
    color: #4c516d;
    border: none;
    box-shadow: 0.3vw 0.3vw 0.3vw #C8C8C8;
    width: 15vw;
    height: 3vw;
    font-size: 1.5vw;
    cursor: pointer;
    text-align-last: center;
    text-align: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
}

.treemap_container {
    display: flex;
    justify-content: center;
}

.explanation {
    font-size: 2vw;
    color: rgba(29,41,81,1);
    text-align: center;
    margin-left: 3vw;
    margin-right: 3vw;
}

.footer_bar {
    position: fixed;
    padding: 0vw 2vw 0px 2vw;
    bottom: 0;
    width: 100%;
    height: 25px;
    background: rgba(190,190,190,0.5);
}

.share_icon_group {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fb-share-button-frame {
    display: inline-block;
    margin: 0 2vw 2px 2vw;
    bottom: 0;
}

.linkedin-share-button-frame {
    display: inline-block;
    margin: 0 2vw 0 2vw;
    bottom: 0;
}

.twitter-share-button-frame {
    display: inline-block;
    margin: 0 2vw 0 2vw;
    bottom: 0;
}

body {
    font-family: Trebuchet MS;
    padding-bottom: 30px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10vw;
    text-align: left;
}

    .sidenav a {
        padding: 0.9vw 0.9vw 0.9vw 3.5vw;
        text-decoration: none;
        font-size: 2.5vw;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 2.5vw;
        font-size: 3.5vw;
        margin-left: 5vw;
    }


.menu-button {
    font-size: 3vw;
    cursor: pointer;
    border-color: rgb(255,255,255);
    position: absolute;
    top: 2%;
    right: 2%;
}

.stroke {
    width: 2.8vw;
    height: 0.3vw;
    background-color: white;
    margin: 0.6vw 0;
}